@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap"); /* Jost */
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap"); /* Didact Gothic */

:root {
  /* Dark Theme */
  --highlights: #53d8fb;
  --black: #030303;
  --dpurple: #251b37;
  --purple: #372948;
  --pink: #ffbcbc;
  --white: #ffffff;

  /* Fonts */
  --thin: 300;
  --regular: 400;
  --thick: 600;

  --jost: "Jost", sans-serif;
  --didact: "Didact Gothic", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--didact);
}

a, .dummy-a {
  text-decoration: none;
  color: var(--white);
  position: relative;
  padding-bottom: 4px;
}

a:visited, .dummy-a {
  color: var(--pink)
}

a::after, .dummy-a::after {
  position: absolute;
  content: "";
  left: 5%;
  bottom: 0;
  width: 90%;
  height: 2px;
  background-color: var(--highlights);
  transition: all 0.2s;
}

.a-clean  {
  color: auto;
  position: static;
  padding-bottom: auto;
}

.a-clean:visited {
  color: auto;
}

.a-clean::after {
  display: none;
}

a:hover::after {
  left: 0%;
  width: 100%;
}

.text-highlighted {
  text-decoration: underline;
  text-decoration-color: var(--highlights);
  text-decoration-style: wavy;
}

.transitioner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--purple);
}

.transitioner-home {
  transform-origin: 0 100%;
}
